<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.x">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.form.sinkronisasidatakependudukan.ActivitySinkDataKepen"></activity>
        <activity
            android:name=".Utils.ActivityPilihWilayah"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.example.form.skttkitap.ActivityFormulirKitap" />
        <activity android:name="com.example.form.skttkitas.ActivityTambahAnggotaKitas" />
        <activity android:name="com.example.form.skttkitas.ActivityFormulirKitas" />
        <activity android:name="com.example.form.pelaporankematian.ActivityPelaporanKematianFrag" />
        <activity android:name="com.example.form.tidakmemilikiaktelahir.ActivityPriviewPernyataanTidakMemilikiAkta" />
        <activity android:name="com.example.form.tidakmemilikiaktelahir.ActivityDashboardPernyataanAkte" />
        <activity android:name="com.example.form.tidakmemilikiaktelahir.ActivityInputPernyataan" />
        <activity android:name="com.example.form.sinkronisasidatakependudukan.ActivitySyaratKetentuan" />
        <activity android:name="com.example.form.sinkronisasidatakependudukan.ActivityDashboardSinkronisasiDataKependudukan" />
        <activity android:name="com.example.form.sinkronisasidatakependudukan.ActivitySelengkapnyaSinkronisasiData" />
        <activity android:name="com.example.form.pengajuanktpel.ActivitySelengkapnyaPengajuanKtpEl" />
        <activity android:name="com.example.form.pengajuanktpel.ActivitySyaratKetentuan" />
        <activity android:name="com.example.form.pengajuanktpel.ActivityDashboardPengajuanKtpEl" />
        <activity android:name="com.example.form.pengajuanktpel.ActivityKtpEl" />
        <activity android:name="com.example.form.pelaporankematian.ActivityPelaporanKematian" />
        <activity android:name="com.example.form.pengajuanpindahwni.ActivityInputPindah" />
        <activity android:name="com.example.form.pengajuandatangwni.ActivityInputDatang" />
        <activity android:name="com.example.form.sinkronisasidatakependudukan.ActivitySinkronisasiDataKependudukan" />
        <activity android:name="com.example.form.pengajuanktpel.InputPengajuanKtpEl" />
        <activity android:name=".Utils.SignaturePadActivity" />
        <activity
            android:name=".Utils.ActivityFullscreenImageV2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".qrcode" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityorg" />
    </application>

</manifest>